*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins', sans-serif;
  width: 100vw;
  background-color: #fbfbfb;
  height: 100vh;
  height: 100dvh;
}